db.sqlite3
*.pyc
staticfiles/
.terraform/                
*.tfstate                   
*.tfstate.*                 
crash.log                  
override.tf
override.tf.json
*_override.tf
*_override.tf.json
terraform.tfvars           
*.tfplan.env
.env
values.secret.dec.yaml